/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 15, 2018, 6:34:00 PM
    Author     : user
*/

body{
    background-color: orange
}
h1{
    font-size: 38pt
}
p{
    margin-left: 58px 
}